.logo {
  animation: animation infinite 0.7s linear;
  height: 80px;
}

.title {
  composes: title from '../app/app.css';
  color: #5050ff;
}

@keyframes animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1);
  }
}
